
.container {
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px; 
}

.container input {
    flex: 1;
    cursor: pointer;
    padding: 15px;
    border: 2px solid rgb(37, 147, 255); 
    border-radius: 7px;
}

.container > input:focus {
    outline: none;
    border: 2px solid rgb(30, 125, 220);
}

.container button {
    cursor: pointer;
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(37, 147, 255);
    border-radius: 7px;
}

.container > button:hover {
    background-color: rgb(30, 125, 220);
}